.background-image {
    background-color: RGB(249, 250, 251);
    margin: 0;
}

.greeting {
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
}

.screen-center {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.login-panel {
    display: flex;
    flex-direction: column;
    border: 2px #6fe90d solid;
    padding: 2rem;
    align-self: center;
}

.login-txtField {
    margin-top: .5rem;
    padding: 9px;
    width: 200px;
    border: 2px solid rgb(214, 216, 217);
    border-radius: 7px;
}

.btn-login {
    height: 2rem;
    margin-top: .5rem;
    border: none;
    background-color: #29c5e6;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

    .btn-login:hover {
        background-color: #2fb5d1;
        cursor: pointer;
    }


.circled-input {
    overflow: auto;
    border-radius: 7px;
    border: 2px rgb(214, 216, 217) solid;
    height: 80vh;
}

.chat-users {
    min-width: 190px;
    list-style-type: none;
    box-sizing: border-box;
    border: 2px rgb(214, 216, 217) solid;
    height: 100%;
    padding: 0;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 0;
}

.chat-body {
    display: flex;
    flex-direction: column;
}

.chat-window {
    width: 600px;
    background: url("geometry2.png");
}

.send-panel {
    display: flex;
    justify-content: space-between;
    height: 54px;
}

.text-test {
    width: 90%;
    margin-top: 10px;
    padding: 2px;
    font-family: Tahoma apple;
    font-size: 1rem;
    resize: none;
    border: 2px solid rgb(214, 216, 217);
    border-radius: 7px;
}

.btn-send {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    box-sizing: content-box;
    font-family: 'Oswald', sans-serif;
    min-height: 15px;
    min-width: 70px;
    margin-left: 10px;
    margin-top: 10px;
}

    .btn-send:hover {
        background-color: #2fb5d1;
        cursor: pointer;
    }

.login-name {
    display: flex;
    align-items: center;
    padding: 5px;
}

.user-name {
    padding: 0 10px;
}

.circled-user-logo {
    background: #29c5e6; /*Придумать, как задавать динамически*/
    border-radius: 50%;
    padding: 1rem;
    width: 1rem;
    height: 1rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    font-family: Tahoma;
    font-weight: bold;
    line-height: 14px;
    font-size: 18px;
}
