<!doctype html>
<html>
<head>
    <title>Chat</title>
    <meta content="text/html" charset="utf-8">
</head>
<body>
    <div id="wrapper">
        <div class="heading"> </div>
        <aside>
            <div class="list_of_users">
                <div name="title">
                    List of Users
                </div>
                <ul type="none">
                    <li>
                        <div>
                            <img src="https://images-na.ssl-images-amazon.com/images/I/31mRh3hjx8L.jpg" width="40" height="40" alt="photo" class="person_avatar">
                        </div>
                        <div>
                            <span name="NAME">Дмитрий Пупкин</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b9b8ca05b253e33c9009832bca8d68c0&w=1000&q=80" width="40" height="40" alt="photo" class="person_avatar">
                        </div>
                        <div>
                            <span name="NAME">Максим Одуванчиков</span>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <section>
            <div class="message_history">
                <div class="msgs">
                    <div class="msg_profile">
                        <img src="https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b9b8ca05b253e33c9009832bca8d68c0&w=1000&q=80" width="40" height="40" alt="photo" class="person_avatar">
                        <span name="msg_name">Максим Одуванчиков</span>
                    </div>
                    <div class="msg_stack">
                        <ul type="none">
                            <li class="msg"> Добро пожаловать в Наш дружелюбный чатик, с кучей багов и косяков, но вы же не собираетесь обращать на это внимания, а просто улыбнётесь и поставите хорошую оценку, далее Мы с Вами встретимся на чём-то там, Мы не в курсе зачёт или экзамен у Нас будет, но я так предполагаю, что это совершенно неважно, ведь Мы все такие весёлые и оптимистичные, договориться друг с другом проблем Нам не составит. </li>
                            <li class="msg"> Всего Доброго! И с наступающим Новым Годом! (Да кого волнует, что до него ещё месяц? :) ) </li>
                        </ul>
                    </div>
                </div>
                <div class="msgs">
                    <div class="msg_profile">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/31mRh3hjx8L.jpg" width="40" height="40" alt="photo" class="person_avatar">
                        <span name="msg_name">Дмитрий Пупкин</span>
                    </div>
                    <div class="msg_stack">
                        <ul type="none">
                            <li class="msg"> Данные сообщения были сгенерированы генератором случайных фраз исключительно в целях бесцелевого назначения.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <form name="message_input" method="post">
                <input type="text" name="text" placeholder="New Message"><button type="submit">Send</button>
            </form>
        </section>
    </div>
</body>
</html>
@*{
        ViewBag.Title = "Home Page";
}*@
